@use './root.scss';
@use './mixins.scss';

%button-transparent-small {
    @include mixins.button-template;
    border: solid root.$dark-sage-green;
    color: root.$dark-sage-green;
    background: none;
}

%button-transparent-white-small {
    @include mixins.button-template(50%);
    padding-block: .5rem;
    background: none;
    border: 1px solid root.$white;
    color: root.$white;
    font-size: .8em;
}

%button-green-small {
    @include mixins.button-template;
    border: none;
    background-color: root.$dark-sage-green;
    color: root.$white;
}

%button-transparent-big {
    @include mixins.button-template(100%);
    border: solid root.$grey;
    color: root.$soft-black;
    background: none;
}

%button-green-big {
    @include mixins.button-template(100%);
    border: none;
    background-color: root.$dark-sage-green;
    color: root.$white;
}