$black-trans: #00000033;
$soft-black: #404040;
$soft-dark-grey: #222222;
$dark-grey-trans: #22222266;
$grey: #C5C5C5;
$light-grey: #D9D9D9;
$light-grey-trans: #D9D9D94D;
$white: #fff;
$dark-sage-green: #4D861F;
$soft-red: #FF5D5D;