@use '../placeholders/root.scss';
@use '../placeholders/buttons.scss';

.login-container {
    padding: 1rem;
}

.welcome {
    margin-block: 4rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    &__logo {
        width: 4rem;
    }

    &__name {
        text-transform: capitalize;
      
    }

    &__text {
        margin-top: 2rem;
    }
}

.continue-with {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__button {
        @extend %button-transparent-big;
        text-transform: none;
    }
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-block: 4rem;

    span {
        height: 2px;
        width: 100%;
        border-bottom: 1px solid root.$soft-black;
    }
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    &__login {
        @extend %button-green-big;
        text-transform: none;
        box-shadow: 0px 3px 6px root.$dark-sage-green;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: .3rem;

        button {
            background: none;
            border: none;
            font-size: 1em;
            text-transform: capitalize;
            color: root.$dark-sage-green;
        }
    }
}