@use '../placeholders/root.scss';
@use '../placeholders/buttons.scss';

.onboarding {
    display: flex;
    flex-direction: column;
    height: 96vh;
    justify-content: space-between;
    padding: .5rem;
    animation: fadein 1s;
}

@keyframes fadein{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slider {
    &__container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__roll {
        display: flex;
    }

    &__info {
        min-width: 100%;
        text-align: center;

        img {
            width: 100%;
            margin-top: 1.1rem;
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.125em;
        }
    }

    &__dots {
        display: flex;
        gap: .5rem;
        justify-content: center;
        margin-top: 1rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-self: center;
        gap: 1rem;
        margin-top: 2rem;
        width: 95%;
    }

    &__skip {
        @extend %button-transparent-small;
        
        button {
            background: none;
            border: none;
            font-size: 1em;
            text-transform: capitalize;
            color: root.$dark-sage-green;
            width: 100%;
        }
    }

    &__next {
        @extend %button-green-small;
    }
}

.dot {
    border-radius: 1rem;
    width: .8rem;
    height: .8rem;
    background-color: root.$grey;
}

.current-dot {
    transition: 300ms ease-in;
    width: 3.5rem;
    background-color: root.$dark-sage-green;
}